.THIS {
}

.THIS .new-user-button {
    color: #fff;
    background-color: #333;
}

.THIS button.inverse-close-button {
    color: #000;
}

.THIS button.save-button {
    color: #fff;
    background-color: #333;
}

.THIS button.addUser-button {
    color: #fff;
    background-color: #333;
}

.THIS .admin-help {
    background-color: #fff;
}